<div class="footer_up">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-5 app">
                <div class="">
                    <div class="text">ỨNG DỤNG APADING - SẮP RA MẮT</div>
                    <div class="image">
                        <a href="">
                            <img src="/assets/img/logo_3(1).png" alt="">
                        </a>
                        <a href="">
                            <img style="height: 42px;" src="/assets/img/logo_4(1).png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-7 email">
                <div class="">
                    <div class="text">ĐĂNG KÝ NGAY ĐỂ NHẬN THÔNG TIN TỪ APADING.COM</div>
                    <div class="input">
                        <input type="text" placeholder="Nhập email của bạn">
                        <button type="submit" class="sub">Gửi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer_down">
    <div class="container">
        <div class="row">
            <div class="communication col-sm-12 col-md-4">
                <div class=""><img class="logo_company col-sm-12" style="width: 100%; padding: 0;"
                        src="/assets/img/logo_5.png" alt=""></div>
                <div class="name_company">
                    Công ty cổ phần công nghệ và dịch vụ APADING Việt Nam
                </div>
                <div class="address">
                    <img src="/assets/img/icon_26.png" alt="">
                    <div class="address_company">13F Keangnam Landmark72 Tower, Plot E6, Pham Hung Road, Nam Tu
                        Liem District, Hanoi.
                    </div>
                </div>
                <div class="email">
                    <img src="/assets/img/icon_25.png" alt="">
                    <div class="email_company">cs@apading.com</div>
                </div>
                <div class="phone">
                    <img src="/assets/img/icon_24.png" alt="">
                    <div class="phone_company">097.6528.741</div>
                </div>
                <div class="icon">
                    <a href=""><img src="/assets/img/icon_22.png" alt=""></a>
                    <a href=""><img src="/assets/img/icon_23.png" alt=""></a>
                </div>
            </div>
            <div class="tutorial col-sm-12 col-md-2">
                <div class="title_name">
                    HƯỚNG DẪN
                </div>
                <div class="d-flex d-md-block justify-content-between pr-4">
                    <ul>
                        <li><a href="">Báo giá & hỗ trợ</a></li>
                        <li><a href="">Câu hỏi thường gặp</a></li>
                        <li><a href="">Về chúng tôi</a></li>
                    </ul>
                    <ul>
                        <li><a href="">Thông báo</a></li>
                        <li><a href="">Liên hệ</a></li>
                        <li><a href="">Site map</a></li>
                    </ul>
                </div>
            </div>
            <div class="rule col-sm-12 col-md-2">
                <div class="title_name">
                    QUY ĐỊNH
                </div>
                <div class="d-flex d-md-block justify-content-between">
                    <ul>
                        <li><a href="">Quy định đăng tin</a></li>
                        <li><a href="">Quy chế hoạt động</a></li>
                        <li><a href="">Điều khoản thỏa thuận</a></li>
                    </ul>
                    <ul>
                        <li><a href="">Chính sách bảo mật</a></li>
                        <li><a href="">Giải quyết khiếu nại</a></li>
                        <li><a href="">Góp ý báo lỗi</a></li>
                    </ul>
                </div>
            </div>
            <div class="zone col-sm-12 col-md-4">
                <div class="title_name">
                    BẤT ĐỘNG SẢN TRONG KHU VỰC
                </div>
                <div class="d-flex list_zone">
                    <ul>
                        <li><a href="">Quận Nam Từ Liêm</a></li>
                        <li><a href="">Quận Cầu Giấy</a></li>
                        <li><a href="">Quận Đống Đa</a></li>
                        <li><a href="">Quận Tây Hồ</a></li>
                        <li><a href="">Quận Ba Đình</a></li>
                        <li><a href="">Quận Hà Đông</a></li>
                    </ul>
                    <ul>
                        <li><a href="">Quận Hoàn Kiếm</a></li>
                        <li><a href="">Quận Hai Bà Trưng</a></li>
                        <li><a href="">Quận Long Biên</a></li>
                        <li><a href="">Quận Bắc Từ Liêm</a></li>
                        <li><a href="">Quận Thanh Xuân</a></li>
                        <li><a href="">Quận Hoàng Mai</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="logo_brand">
            <div><img class="img-fluid" src="/assets/img/icon_27.png" alt=""></div>
            <div><img class="img-fluid" src="/assets/img/icon_28.png" alt=""></div>
            <div><img class="img-fluid" src="/assets/img/icon_29.png" alt=""></div>
            <div><img class="img-fluid" src="/assets/img/icon_30.png" alt=""></div>
        </div>
        <div class="copyright"> Copyright © 2021 Apading.com</div>
    </div>
</div>