<div class="container-fluid">
    <div class="header_up row align-items-center">
        <div class="logo col-6 col-md-4">
            <a href="index.html"><img src="/assets/img/logo.png" alt="apading"></a>
        </div>
        <div class="infor col-6 col-md-8">
            <div class="d-none d-md-flex icon ">
                <a href="# "><i class="fab fa-facebook-square"></i></a>
                <a class="px-2 " href="# "><i class="fab fa-instagram"></i></a>
                <a href="# "><i class="fab fa-youtube"></i></a>
            </div>
            <div class="d-none d-md-flex px-3 login">
                <li><a href="# ">Đăng nhập</a></li>
                <li><a class="px-3" href="# ">Đăng ký</a></li>
                <li><a href="# ">Đăng tin nhanh</a></li>
            </div>
            <div class="dropdown language ">
                <div class="group ">
                    <span class="label " style="font-size: 12px;">언어선택</span>
                    <img style="margin: 0 3px 0 10px; " src="/assets/img/vietnam.png " alt=" ">
                    <button class="select "><i class="fa fa-caret-down "></i></button>
                    <div class="transparent-background "></div>
                </div>
                <div class="dropdown_content ">
                    <li>
                        <a href="# "><img style="margin: 0 3px 0 10px; " src="/assets/img/vietnam.png " alt=" ">
                            Language 1</a>
                    </li>
                    <li>
                        <a href="# "><img style="margin: 0 3px 0 10px; " src="/assets/img/vietnam.png " alt=" ">
                            Language 2</a>
                    </li>
                    <li>
                        <a href="# "><img style="margin: 0 3px 0 10px; " src="/assets/img/vietnam.png " alt=" ">
                            Language 3</a>
                    </li>
                </div>
            </div>
        </div>
    </div>
    <div class="header_menu row align-items-center ">
        <div class="menu col-2 col-md-6">
            <i style="font-size: 28px; margin-left: 10px;" data-toggle="collapse" data-target="#menu-collapse"
                class="fa fa-bars d-md-none"></i>
            <ul id="menu-collapse" class="navbar-collapse collapse list_menu justify-content-around m-0 d-md-flex"
                aria-expanded="false">
                <li class="item_menu"><a href="./head.html">Cho thuê</a></li>
                <li class="item_menu"><a href="./noithat.html">Mua bán</a></li>
                <li class="item_menu"><a href="">Tìm nhà</a></li>
                <li class="item_menu"><a href="">Visa</a></li>
                <li class="item_menu"><a href="">Dịch vụ hỗ trợ</a></li>
                <li class="item_menu"><a href="">Tin tức</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-5 p-0 infor_company ">
            <img src="/assets/img/icon_5.png " alt=" ">
            <img class="img-fluid icon_logo" src="/assets/img/icon_1.png " alt=" ">
            <div class="text ">
                <div style="font-size: 10px;">
                    파딩 이용후기 <a href=" " class="review ">Review</a>
                </div>
                <div class="d-none d-md-block ">
                    Thông qua Apading bạn đã tìm nhà như thế nào
                </div>
                <img style="float: right; " src="/assets/img/icon_4.png " alt=" ">
            </div>
        </div>
        <div class="col-md-3 col-5 p-0 infor_company ">
            <img src="/assets/img/icon_5.png " alt=" ">
            <img class="img-fluid icon_logo" src="/assets/img/icon_2.png " alt=" ">
            <div class="text ">
                <div class="apading_shop ">
                    <span class="apading ">Apading</span>
                    <a href=" " class="shop ">shop</a>
                </div>
                <div class="d-none d-md-block ">
                    Dịch vụ mua sắm nội thất
                </div>
            </div>
            <img class="plus " src="/assets/img/icon_3.png " alt=" ">
        </div>
    </div>
</div>