<div class="sidebar d-flex flex-column justify-content-between">
    <div class="sidebar-content">
        <div class="sidebar-logo d-flex align-items-center justify-content-center">
            <img src="/assets/img/logotemp.png" alt="logo" class="img-logo">
            <span class="sidebar-brand">Apading</span>
        </div>
        <form method="get" class="d-flex search-bar align-items-center justify-content-between">
            <input type="text" placeholder="Search..." class="sidebar-search">
            <i class="fas fa-search search-icon"></i>
        </form>
        <div>
            <div data-toggle="collapse" href="#sidebar-tab1" role="button" class="collapse-tab d-flex justify-content-between align-items-center">
                <span>Tin tức</span>
                <i class="fas fa-caret-down"></i>
            </div>
            <div class="collapse" id="sidebar-tab1">
                <div class="sidebar-item d-flex  align-items-center">
                    <i class="fas fa-plus-circle"></i>
                    <span>Tạo tin mới</span>
                </div>
                <div class="sidebar-item d-flex  align-items-center">
                    <i class="fas fa-stream"></i>
                    <span>Danh sách tin tức</span>

                </div>
            </div>
        </div>
        <div>
            <div data-toggle="collapse" href="#sidebar-tab2" role="button" class="collapse-tab d-flex justify-content-between align-items-center">
                <span>Đăng thuê nhà</span>
                <i class="fas fa-caret-down"></i>
            </div>
            <div class="collapse" id="sidebar-tab2">
                <div class="sidebar-item d-flex  align-items-center">
                    <i class="fas fa-plus-circle"></i>
                    <span>Tạo bài đăng mới</span>
                </div>
                <div class="sidebar-item d-flex  align-items-center">
                    <i class="fas fa-stream"></i>
                    <span>Danh sách căn hộ cho thuê</span>
                </div>
            </div>
        </div>
        <div>
            <div data-toggle="collapse" href="#sidebar-tab3" role="button" class="collapse-tab d-flex justify-content-between align-items-center" id="tab3">
                <span>Đăng bán nhà</span>
                <i class="fas fa-caret-down"></i>
            </div>
            <div class="collapse" id="sidebar-tab3">
                <div class="sidebar-item d-flex  align-items-center">
                    <i class="fas fa-plus-circle"></i>
                    <span>Tạo bài đăng mới</span>
                </div>
                <div class="sidebar-item d-flex  align-items-center">
                    <i class="fas fa-stream"></i>
                    <span>Danh sách căn hộ bán</span>

                </div>
            </div>
        </div>
    </div>
    <i class="fas fa-arrow-circle-left sidebar-toggler"></i>

</div>