<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apading</title>

    <!-- light Slider -->
    <link type="text/css" rel="stylesheet" href="../public/assets/css/lightslider.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="../public/assets/css/header.css">
    <link rel="stylesheet" href="../public/assets/css/footer.css">
    <link rel="stylesheet" href="../public/assets/css/header.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Header (Begin) -->
        <header>
            <%- include('./partials/header') %>
        </header>
        <!-- Header (End) -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content (Begin) -->
            <%- include('./pages/home') %>
                <!-- Main content (End) -->

        </div>
        <!-- /.content-wrapper -->

        <!-- Footer (Begin) -->
        <footer>
            <%- include('./partials/footer') %>
        </footer>
        <!-- Footer (End) -->
    </div>
    <!-- ./wrapper -->


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- lightSlider -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../public/assets/js/lightslider.js"></script>

    <!-- index.js -->
    <script src="../public/assets/js/index.js"></script>
</body>

</html>