<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apading</title>

    <!-- light Slider -->
    <link type="text/css" rel="stylesheet" href="css/lightslider.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/pages/index.css">
    <link rel="stylesheet" href="/assets/css/pages/footer.css">
    <link rel="stylesheet" href="/assets/css/pages/header.css">
    <link rel="stylesheet" href="/assets/css/head.css">
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="/assets/css/singup.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Header (Begin) -->
        <header>
            <%- include('./partials/header') %>
        </header>
        <!-- Header (End) -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content (Begin) -->
            <%- body %>
                <!-- Main content (End) -->

        </div>
        <!-- /.content-wrapper -->

        <!-- Footer (Begin) -->
        <footer>
            <%- include('./partials/footer') %>
        </footer>
        <!-- Footer (End) -->
    </div>
    <!-- ./wrapper -->


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- lightSlider -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/lightslider.js"></script>

    <!-- index.js -->
    <script src="/assets/js/pages/index.js"></script>
</body>

</html>