.page-wrapper {
    min-height: 100vh;
}

.page-container {
    padding-left: 270px;
    position: relative;
    width: 100%;
    transition: 0.5s all ease-in-out;
    .sidebar-collapse {
        padding-left: 0px;
        transition: 0.5s all ease-in-out;
    }
}