.img-post {
    width: 100px;
}

.select-number {
    span {
        font-weight: bold;
        margin-right: 5px;
    }
}

.content-header {
    margin-bottom: 10px;
}

.button-add {
    background-color: $dark-blue;
    border: none;
    cursor: pointer;
}