@import "variables";
@import "main";
@import "navbar";
@import "sidebar";
@import "rent";
// global css
input,
textarea:focus {
    outline: none;
}

@media screen and (max-width: 792px) {
    .sidebar {
        left: -270px;
        transition: 0.3s all ease-in-out;
    }
    .page-container {
        margin-left: 0px;
        transition: 0.3s all ease-in-out;
    }
}