.house-add-wrapper {
    #submit-update {
        bottom: 25px;
        width: 125px;
        margin-top: 20px;
        margin-left: auto;
    }
    #submit-add {
        bottom: 25px;
        width: 125px;
        margin-top: 20px;
        margin-left: auto;
    }
}