.page-wrapper {
    min-height: 100vh;
    background-color: $white;
    display: flex;
    justify-content: center;
}

.page-container {
    margin-left: 295px;
    margin-right: 25px;
    width: 100%;
    max-width: 1070px;
    transition: 0.5s all ease-in-out;
    &.page-expanded {
        justify-self: center;
        margin-left: 25px;
        transition: 0.5s all ease-in-out;
    }
}

.content-wrapper {
    margin-top: 105px;
    background-color: $white;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 15px 25px;
    border-radius: 8px;
}