.page-wrapper {
    min-height: 100vh;
    background-color: $white;
    display: flex;
    justify-content: center;
    select,
    button,
    a {
        cursor: pointer;
    }
}

input:focus,
textarea:focus,
button:focus,
select:focus {
    outline: none;
}

.page-container {
    margin-left: 295px;
    margin-right: 25px;
    width: 100%;
    max-width: 1070px;
    transition: 0.5s all ease-in-out;
    &.page-expanded {
        justify-self: center;
        margin-left: 35px;
        transition: 0.5s all ease-in-out;
    }
}

.content-wrapper {
    margin-top: 105px;
    margin-bottom: 25px;
    background-color: $white;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 15px 25px;
    border-radius: 8px;
}

.column-left {
    width: 65%;
    padding-right: 25px;
}

.column-right {
    width: 35%;
}

.input-default {
    border-radius: 4px;
    padding: 0 8px;
    border: 1px solid $light-grey;
    height: 35px;
}

.textarea-default {
    border-radius: 4px;
    height: 120px;
    border: 1px solid $light-grey;
    padding: 8px;
}

.input-md {
    width: 300px;
}

.input-sm {
    width: 190px;
}

.input-xs {
    width: 140px;
}

.input-xxs {
    width: 70px;
}

.input-label {
    font-weight: bold;
    font-size: 16px;
    margin: 16px 0 4px 0;
}

.table-xs-column {
    width: 30px;
}

.table-type-column {
    background-color: $light-cyan;
    display: inline;
    padding: 3px;
    border-radius: 4px;
}

.search-input {
    margin-left: 8px;
}