$red-color: red;
$green-color: green;
$white: white;
$grey: #3a3a3a;
$light-grey: #5f5e5e;
$dark-blue: #183055;
$dark-blue-border: #3e4b5f;
$blue: #1769e4;
$bg-blur: rgba(255, 255, 255, 0.075);
$update-button-size: 125px;
$light-cyan: rgb(116, 226, 226);
// Sidebar color