<main>
    <div class="header-news">
        <div class="container nav-news">
            <div class="row">
                <div class="col-8 nav-news__menu">
                    <ul>
                        <!-- list type of news -->
                        <% for( let index = 0; index < 6; index++ ) { %>
                            <li><a href="">뉴스</a></li>
                        <% } %>

                    </ul>
                </div>
                <div class="col-4 nav-news__find">
                    <input type="text" />
                    <a href=""><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-top-news"></div>

    <div class="container">
        <div class="row mt-3 slide-news">
            <div class="col-8">
                <div class="slide-news__content">
                    <a href=""><img src="/assets/img/slide_news.png" class="img-fluid" alt="" /></a>
                    <a href=""><img src="/assets/img/slide_news.png" class="img-fluid" alt="" /></a>
                    <a href=""><img src="/assets/img/slide_news.png" class="img-fluid" alt="" /></a>
                </div>
            </div>
            <div class="col-4 slide-news__img">
                <a href=""><img src="/assets/img/news_1.png" class="img-fluid" alt="" /></a>
                <a href=""><img src="/assets/img/news_1.png" class="img-fluid" alt="" /></a>
            </div>
        </div>
        <!-- end slide -->

        <div class="row">
            <div class="col-8 one-type-news">
                <!-- title -->
                <div class="title-type-news">
                    <a href="" class="name-type-news">뉴스</a>
                </div>

                <!-- big-new -->
                <div class="big-news">
                    <a href="" class="big-news__img"><img src="/assets/img/news_2.png" class="img-fluid" alt="" /></a>
                    <div class="big-news__content">
                        <div class="big-news__title">
                            Hạ viện nga mở đường để ông Putin có thể tiếp tục nắm quyền 15 năm
                            nữa
                        </div>
                        <div class="big-news__des">
                            Tổng thống Nga Vladimir Putin có thể nắm quyền đến năm 2036 sau
                            khi hạ viện Nga thông qua dự luật cho phép tổng thống Vladimir
                            Putin tái tranh cử
                        </div>
                        <i class="big-news__time">Thứ bảy, 25/03/2021</i>
                        <a href="" class="big-news__more">
                            <i> Xem thêm </i>
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>

                <!-- small-new -->
                <div class="small-news">
                    <div class="one-news">
                        <a href="" class="one-news__img"><img src="/assets/img/news_2.png" class="img-fluid" alt="" /></a>
                        <div class="one-news__content">
                            <div class="one-news__title">
                                Hạ viện nga mở đường để ông Putin có thể tiếp tục nắm quyền 15
                                năm nữa
                            </div>
                            <div class="one-news__des">
                                Tổng thống Nga Vladimir Putin có thể nắm quyền đến năm 2036 sau
                                khi hạ viện Nga thông qua dự luật cho phép tổng thống Vladimir
                                Putin tái tranh cử
                            </div>
                            <i class="one-news__time">Thứ bảy, 25/03/2021</i>
                            <a href="" class="one-news__more">
                                <i>Xem thêm </i>
                                <i class="fas fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="one-news">
                        <a href="" class="one-news__img"><img src="/assets/img/news_2.png" class="img-fluid" alt="" /></a>
                        <div class="one-news__content">
                            <div class="one-news__title">
                                Hạ viện nga mở đường để ông Putin có thể tiếp tục nắm quyền 15
                                năm nữa
                            </div>
                            <div class="one-news__des">
                                Tổng thống Nga Vladimir Putin có thể nắm quyền đến năm 2036 sau
                                khi hạ viện Nga thông qua dự luật cho phép tổng thống Vladimir
                                Putin tái tranh cử
                            </div>
                            <i class="one-news__time">Thứ bảy, 25/03/2021</i>
                            <a href="" class="one-news__more">
                                <i>Xem thêm </i>
                                <i class="fas fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="one-news">
                        <a href="" class="one-news__img"><img src="/assets/img/news_2.png" class="img-fluid" alt="" /></a>
                        <div class="one-news__content">
                            <div class="one-news__title">
                                Hạ viện nga mở đường để ông Putin có thể tiếp tục nắm quyền 15
                                năm nữa
                            </div>
                            <div class="one-news__des">
                                Tổng thống Nga Vladimir Putin có thể nắm quyền đến năm 2036 sau
                                khi hạ viện Nga thông qua dự luật cho phép tổng thống Vladimir
                                Putin tái tranh cử
                            </div>
                            <i class="one-news__time">Thứ bảy, 25/03/2021</i>
                            <a href="" class="one-news__more">
                                <i>Xem thêm </i>
                                <i class="fas fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end one-type-news -->
    </div>
    
    <div class="banner-bot-news"></div>
</main>